<h1 class="text-center mt-4"> Image detail</h1>

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title"><%= @image.name%> </h5>
    </div>
    <%= image_tag(@image.url, class:"card-img")%>
    <div class="card-footer text-muted">
        <%= link_to 'Delete', image_path(@image), method: :delete, data:{confirm: "Are you sure you wanna delete this image?"}, class: 'btn btn-outline-danger image-delete'%>    
        <%= link_to 'Back', images_path,class:'btn btn-outline-info js-back'%>
         <%= render 'images/tag_badge',image: @image%>  
        <small>Created <%= time_ago_in_words(@image.created_at) %></small> 
    </div>
</div>
